[mysqld]
bind_address = 0.0.0.0
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow-${GIT_REV}.log
long_query_time = 0.01
disable_log_bin = 1
innodb_checksum_algorithm = none
innodb_log_file_size = 512M
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT
max_connections = 1024
